.bigCookie
{
    height: 200px;
    width: 200px;
    clip-path: circle(46% at 50% 50%);
    border: 10px;
    border-color: black;

    transition: ease-in-out;
    transition-duration: 70ms;
}

.bigCookie:hover
{
    clip-path: circle(50% at 50% 50%);
}

.counter
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
}

.container
{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

.resetButton
{
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 999999;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(209, 107, 107);
    text-decoration-color: white;

    height: 50px;
    width: 50px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    clip-path: circle(50% at 50% 50%);
    
    user-select: none;
}

.buttonBar
{
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
}

.bufButton
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    background-color: coral;
    padding: 4px;
    border: 1px solid black;
    border-radius:5px;
}

.navbar
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px 1px rgb(199, 199, 199);

    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}